<div class="home-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="site-heading">
          <h1><strong>Food Recipes<strong></h1>
          <span class="subheading">Don't visit this page when you are hungry!</span>
        </div>
      </div>
      <div class="row">
        <%= render @recipes %>
      </div>
    </div>
  </div>
</div>
