// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: black;
}
div.home-page {
  background: no-repeat center center;
  position: relative;
  background-image: url("main.jpg");
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: gray-900;
    opacity: 0.5;
  }
  .page-heading,
  .post-heading,
  .site-heading {
    padding: 200px 0 150px;
    color: white;
    @media only screen and (min-width: 768px) {
      padding: 200px 0;
    }
  }
  .page-heading,
  .site-heading {
    text-align: center;
    h1 {
      font-size: 50px;
      margin-top: 0;
    }
    .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta,
    .subheading {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      a {
        color: white;
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 5px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
}

.form-recipes {
  margin-top: 80px;
  background-color: rgba(255, 255, 255, 0.493);
  padding-bottom: 10px;
}

.fit-image {
  width: 100%;
}

  a, a:hover, a:visited {
    text-decoration-color: none;
    text-decoration: none;
  }

  .rec {
    background-color: rgba(63, 62, 62, 0.438);
    color: white;
    margin-top: 200px;
  }

  .recimg {
    background-repeat:no-repeat;
    background-size:cover;
    padding-bottom: 180px;
  }

  .card-footer {
    background-color: rgba(255, 255, 255, 0.836);
  }
.mainr {
  background-color: rgba(255, 255, 255, 0.596);
  > a, a:hover, a:visited {
    color: black;
    text-decoration-color: none;
    text-decoration: none;
  }
}

.card-title {
  text-transform: uppercase;
}

ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
  margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rectangle-list a{
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  *padding: .4em;
  margin: .5em 0 .5em 2.5em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
}

.rectangle-list a:hover{
  background: #eee;
}

.rectangle-list a:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #69696b;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.rectangle-list a:after{
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

.rectangle-list a:hover:after{
  left: -.5em;
  border-left-color: #69696b;
}
